.header{
	height:100px;
	width:100%;
	float:top;
	background-color:#e9e9e9;
}

p.center{
	text-align:center;
	color:white;
	font-size:100px;
	text-decoration: 
}
#footer{
	height: 200px;
	font-size:10px;
	font-color:red;
	text-align:left;
	width:auto;
	background-color:grey;
}
