h1{
	text-align:center;
	color:red;
	font-family:verdana;
	text-decoration:underline;
}
#container{
	background-image: url("a.jpg");
	height:auto;
	width:auto;
	padding:10px 10px 10px 10px;
	border-style:solid;
	border-width:10px 10px 10px 10px;
}
p{
	text-align:center;
	color:white;
	font-size:100px;
}
#footer{
	height: 20%;
	width:auto;
	background-color:grey;
}
