*{
	box-sizing: border-box;
}

body {
	font-family: Verdana, sans-serif;
	margin:0px;
}
.mySlides {
	display: block;
}
 img {
	vertical-align: middle;
}

.slideshow{
	max-width:1500px;
	position:relative;
	margin:0px;
}

.text{
	font-family:verdana;
    position: absolute;
    bottom: 58px; 
    left: 48px;
	font-size:30px;
	color:white;
	padding:8px 12px;
	text-align:left;
	width:100%;
}

.slideimage{
	height:400px;
	width:1680px;
	
}
.number-text{
	color:#f2f2f2;
	font-size:13px;
	padding:8px 12px;
	position: absolute;
	top:0;
}

.dot{
	height:15px;
	width:15px;
	margin:0 5px;
	background-color:#bbb;
	border-radius:50%;
	display:inline-block;
	transition:background-color 0.5 ease;
}

.active{
	background:grey;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 600px) {
  .text {font-size: 11px}
  .slideshow{width:auto;}
}